table tbody tr.detalles-pedido table tbody tr:nth-of-type(odd) td {
    box-shadow: none;
    background-color: #f5f5f5 !important;
}

table.table-striped tbody tr.detalles-pedido td {
    box-shadow: none;
    background-color: white;
}

table.table-hover tbody tr.detalles-pedido:hover td {
    box-shadow: none;
    background-color: white;
    color: black;
    cursor: default;
}

button {
    width: 200px;
    height: 55px;
    border-width: 3px;
    border-color: #393939;
    color: #393939;
}

button:hover {
    background-color: #393939;
    color: white;
    border-color: white;
}