.col-3 .list-group-item:hover {
    background-color: #fdfdfd;
    color: black;
    cursor: pointer;
}

table tbody.pointer tr:hover td{
    cursor: default;
}

li.impar {
    background-color: #393939;
    color: white;
}

li.par {
    background-color: #be4343;
    color: white;
}