.paddingx-6 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

@media only screen and (max-width : 1000px) {
    .paddingx-6 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}