<div class="container-fluid">
    <div class="row text-center">
        <h1>PEDIDOS</h1>
    </div>
    <div class="row">
        <div class="content rounded border px-4 pt-3  mt-2">
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CLIENTE</th>
                        <th>ESTADO</th>
                        <th>FECHA ENVIO</th>
                        <th>FECHA LIMITE</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <ng-container *ngFor="let pedido of pedidos">
                        <tr (click)="mostrarDetalles(pedido)" (click)="cargarPedidoById(pedido.id)">
                            <td>{{ pedido.id }}</td>
                            <td>{{pedido.cliente.nombreEmpresa}}</td>
                            <td>
                                <div [ngStyle]="getEstadoStyles(pedido.estado)">{{ pedido.estado }}</div>
                            </td>
                            <td>{{ pedido.fechaEnvio }}</td>
                            <td>{{ pedido.fechaLimite }}</td>
                            <td>proximamente...</td>
                        </tr>
                        <tr class="detalles-pedido" style="width: 100%;" *ngIf="pedidoSeleccionado === pedido">
                            <td colspan="6" class="px-5 pt-4">
                                <div class="container-fluid">
                                    <div class="row">
                                        <p class="fs-4">Detalles del Pedido</p>
                                        <table class="table text-center">
                                            <thead>
                                                <tr>
                                                    <td>PIEZA</td>
                                                    <td>CANTIDAD</td>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <tr *ngFor="let detalle of detalles">
                                                    <td>{{ detalle.pieza.nombre }}</td>
                                                    <td>{{ detalle.cantidad }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row d-flex justify-content-center align-items-center">
                                        <button type="button"
                                            class="btn btn-lg btn-outline-secondary mx-5 my-4">Imprimir</button>
                                        <button type="button" class="btn btn-lg btn-outline-secondary mx-5 my-4">Ver piezas</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>